<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsi.madminutemath"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    
 <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data 
       android:name="com.google.android.gms.version" 
       android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
        
        <activity
            android:name="com.hsi.madminutemath.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hsi.madminutemath.PlayActivity"
            android:label="@string/title_activity_play"
            android:screenOrientation="portrait"
            android:parentActivityName="com.hsi.madminutemath.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hsi.MainActivity" />
        </activity>
        <activity
            android:name="com.hsi.madminutemath.ResultsActivity"
            android:parentActivityName="com.hsi.madminutemath.MainActivity" 
            android:label="@string/title_activity_review"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.hsi.madminutemath.SettingsActivity"
            android:label="@string/title_activity_mode"
            android:parentActivityName="com.hsi.madminutemath.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hsi.madminutedash.MainActivity.java" />
        </activity>
        <activity
            android:name="com.hsi.madminutemath.ScoresActivity"
android:screenOrientation="portrait"
            android:parentActivityName="com.hsi.madminutemath.MainActivity" 
            android:label="Leaderboards" >
            
        </activity>
         <activity
            android:name="com.hsi.madminutemath.ProgressActivity"
            android:parentActivityName="com.hsi.madminutemath.MainActivity" 
            android:label="Progress" >
            
        </activity>
    </application>

</manifest>
